:root {
    --secondary-color: #b7b7b7;
    --primary-color: #1f1f1f;
  }
  
  body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  
  header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }