img{
    height: 100%; 
    max-width: 100%;
  }
  header {
    font-family:monospace;
    padding: 10px;
    text-align:start;
  }
  h1{
    font-family:'Times New Roman', Times, serif,monospace;
    text-align:right;
    color:rgb(128, 0, 0);
    font-size: 40px;
  }
  nav ul li{
    display:inline;
    padding:10px;
  }
  
  nav ul li button {
      display:inline-flex;
      background-color:rgb(152, 0, 0);
      color:rgb(255, 255, 255);
      font-size: 16px;
      transition-duration: 0.4s;
      cursor: pointer;

      
      
    }
  nav ul li button:hover {
      background-color:rgb(0, 0, 0);
      color: rgb(255, 255, 255);
    }

    .container 
    {
      position: relative;
      text-align:initial;
      color: rgb(255, 255, 255);
      font-size:30px;
      
    }
    
    .bottom-left {
      position: absolute;
      bottom: 8px;
      left: 16px;
      opacity: 80%;

    }
  
 
  
  
